/* Debugging tool */
/* *,
*::before,
*::after {
    outline: 1px dashed rgb(0, 255, 0);
} */

/* Color and Font Variables */
:root {
    --background-color: #000000;
    --face-color: #ffffff;
    --number-color: #303030;
    --hand-color: #000000;
    --second-hand-color: #e9b300;
    --number-font: "Rubik";
    --minor-tick-color: #90909c;
    --major-tick-color: #000000;
}

/* Dark Mode Colors */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000;
        --face-color: #1c1d24;
        --number-color: #efefef;
        --hand-color: #ffffff;
        --minor-tick-color: #484a54;
        --major-tick-color: #efefef;
    }
}

/* General Properties */
body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background: var(--background-color);
}

/* Clock Face */
.clock {
    position: relative;
    margin: auto;
    width: min(90vw, 90vh); /* Clock size constrained to fit the screen */
    height: min(90vw, 90vh); /* Ensures it's a perfect circle */
    border: 5px solid #000000;
    background: var(--face-color);
    border-radius: 50%;
}

/* Tick Marks */
.tick {
    width: 0.75%;
    height: 3%;
    border-radius: 0.5em;
    background: var(--minor-tick-color);
    position: absolute;
    top: 47%;
    left: 49.625%;
    transform-origin: center bottom;
    transform: rotate(calc(var(--i) * 6deg + 18deg)) translateY(-1525%);
    z-index: 1;
}

/* Major Tick Marks */
.tick:nth-child(5n) {
    width: 1%;
    height: 4%; /* Longer for hour marks */
    background: var(--major-tick-color);
    top: 46%;
    left: 49.5%;
    transform: rotate(calc(var(--i) * 6deg + 18deg)) translateY(-1122%);
}

/* Numbers */
.clock .number {
    position: absolute;
    font-family: var(--number-font), sans-serif;
    font-size: min(12vw, 12vh);
    font-weight: 600; /* font-weight: Use a value from 300 to 900 */
    color: var(--number-color);
    inset: 5%;
    width: 90%;
    height: 90%;
    text-align: center;
    transform: rotate(calc(30deg * var(--number)));
    z-index: 2;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.clock .one {--number: 1;}
.clock .two {--number: 2;}
.clock .three {--number: 3;}
.clock .four {--number: 4;}
.clock .five {--number: 5;}
.clock .six {--number: 6;}
.clock .seven {--number: 7;}
.clock .eight {--number: 8;}
.clock .nine {--number: 9;}
.clock .ten {--number: 10;}
.clock .eleven {--number: 11;}

.clock .numeral {
    transform: rotate(calc(-30deg * var(--number)));
}

/* Hands */
.clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    border-radius: 25px;
    z-index: 3;
}

.clock .hand.second {
    width: 1%;
    height: 48.5%;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    background-color: var(--second-hand-color);
    z-index: 4;
    box-shadow: 0 0 12px #0000003e;
}

.clock .hand.second-end {
    width: 1%;
    height: 8%;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg + 180deg));
    transform-origin: bottom;
    background-color: var(--second-hand-color);
    z-index: 4;
    box-shadow: 0 0 12px #0000003e;
}

.clock .hand.minute {
    width: 4%;
    height: 47.75%;
    background-color: var(--hand-color);
    box-shadow: 0 0 5px #0000003e;
}

.clock .hand.hour {
    width: 4%;
    height: 32%;
    background-color: var(--hand-color);
    box-shadow: 0 0 5px #0000003e;
}

/* Axle */
.axle {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 4;
}

.axle.black {
    background-color: var(--hand-color);
    width: 6%;
    height: 6%;
}

.axle.red {
    background-color: var(--second-hand-color);
    width: 4%;
    height: 4%;
}

.axle.white {
    background-color: var(--face-color);
    width: 2.25%;
    height: 2.25%;
    z-index: 5;
}

.tooltip {
    display: inline-block;
    position: relative;
}
  
.tooltip .tooltiptext {
    font-family: var(--number-font), sans-serif;
    font-size: 15px;
    font-weight: 400;
    visibility: hidden;
    width: 120px;
    background-color: #1c1d24;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -60px;
    /* transition: visibility 0s; */

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #1c1d24 transparent;
}
  
.tooltip:hover .tooltiptext {
    transition-delay: 0.6s;
    visibility: visible;
}

.tooltip.no-hover:hover .tooltiptext {
    transition-delay: 0s;
    visibility: hidden;
}





/* Preferences Button */
#preferences-button-container {
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 7;
}

#preferences-button {
    background-color: transparent;
    fill:#ffffff;
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    padding: 15px;
}
  
#preferences-button:hover,
#preferences-button:focus {
    background-color: #1c1d24;
}

#preferences-button:active {
    fill: rgba(255, 255, 255, 0.75);
}

#preferences-symbol {
    display: block;
}

#preferences-symbol.active {
    display: none;
}

#exit-symbol {
    display: none;
}

#exit-symbol.active {
    display: block;
}



/* Modal */
#preferences-modal {
    position: fixed;
    top: 40px;
    right: 40px;
    width: 70px; /* Start with button dimensions */
    height: 70px; /* Start with button dimensions */
    background-color: #1c1d24;
    font-family: var(--number-font), sans-serif;
    font-size: 0px;
    color: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.5);
    border-radius: 35px; /* Match button */
    transition: top, right, width, height, border-radius, font-size, color, 300ms linear(0, 0.243 3.9%, 0.453 7.8%, 0.642 11.9%, 0.803 16.1%, 0.872 18.2%, 0.937 20.4%, 0.995 22.6%, 1.048 24.9%, 1.093 27.2%, 1.132 29.5%, 1.166 31.9%, 1.194 34.4%, 1.212 36.4%, 1.227 38.4%, 1.237 40.4%, 1.245 42.5%, 1.249 44.7%, 1.25 46.9%, 1.248 49.2%, 1.242 51.7%, 1.225 55.9%, 1.2 60.5%, 1.169 65.1%, 1.081 77.6%, 1.057 81.4%, 1.038 84.9%, 1.02 88.8%, 1.009 92.5%, 1.002 96.2%, 1);
    /* transition: width 0.5s ease, height 0.5s ease, color 0.5s ease, font-size 0.5s ease, box-shadow 0.5s ease, visibility 0.5s ease, opacity 0.5s ease, top 0.5s ease, right 0.5s ease, border-radius 0.5s ease; */
    overflow: hidden; /* Prevent content overflow during animation */
    visibility: hidden; /* Hidden by default */
    z-index: 6;
}

#preferences-modal.active {
    top: 30px;
    right: 30px;
    width: 300px; /* Expanded modal width */
    height: 500px; /* Expanded modal height */
    border-radius: 40px;
    font-size: 30px;
    color: #ffffff;
    visibility: visible;
    /* transition: all 0.5s ease; */
}

.modal-header {
    text-align: left;
    padding: 30px 23px 12px;
}

.modal-header-text {
    text-align: left;
    align-items: left;
    left: 0px;
    font-weight: 500;
    padding: 5px;
}

/* Modal Content */
.modal-content {
    padding: 20px;
    opacity: 0; /* Hidden during transition */
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
    transition: opacity 0.3s ease;
    filter: blur(4px);

    /* Temporary - block selecting */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#preferences-modal.active .modal-content {
    opacity: 1; /* Fade in when modal is fully expanded */
}

#coming-soon-label {
    position: relative;
    top: -130px;
    font-weight: 400;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: rgb(255, 0, 0) 0 0 20px, rgb(0, 0, 0) 2px 2px 4px;
}